h1 {color: red; } /* Les titres de niveau 1 seront en rouge */
  

h2 { color: green; }  /* Les titres de niveau 2 seront en vert */

 p { color: blue; } /* Le texte des paragraphes en bleu */

 .p2 { color: orange; }

 .p4 { color: orange; }
